<%- include("header") %>
    <h1>Compose</h1>
    <form action="/" method="post">
        <label for="compose">Enter Blog: </label>
        <input id="compose" type="text" name="compose">
        <button type="submit">Publish</button>
    </form>
    <%- include("footer") %>